<form>

  <button value="0" {{action 'selectRed0' 0}}>Red</button>

  <button value="1" {{action 'selectYellow1' 1}}>Yellow</button>

  <button value="2" {{action 'selectBlue2' 2}}>Blue</button>

  <button value="3" {{action 'selectGreen3' 3}}>Green</button>

  <br>

  <button {{action 'guess'}}>Guess</button>

</form>
