<form class="formButtons">

  <button class="btn btn-danger" value="0" {{action 'selectRed0' 0}}>Red</button>

  <button class="btn btn-warning" value="1" {{action 'selectYellow1' 1}}>Yellow</button>

  <button class="btn btn-primary" value="2" {{action 'selectBlue2' 2}}>Blue</button>

  <button class="btn btn-success" value="3" {{action 'selectGreen3' 3}}>Green</button>

  <hr>

  <button class="btn btn-default" {{action 'guess'}}>Guess</button>

</form>
