<form>

  <div class="form-group">
    {{input id="number0" value=number0}}
  </div>

  <div class="form-group">
    {{input id="number1" value=number1}}
  </div>

  <div class="form-group">
    {{input id="number2" value=number2}}
  </div>

  <div class="form-group">
    {{input id="number3" value=number3}}
  </div>

  <button {{action 'guess'}}>Guess</button>

</form>
